.hero{
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/Hero.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 40px;
    font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.arrow-image {
  height: 30px;  
  margin-left: 5px;
}