/* .reviews{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.reviews img {
    width: 20px;
} */

.nav-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
}

.nav-btn img {
  transform: translate(-50%, -50%);
}

.back-btn {
  left: 0;
  right: auto;
}

.slider {
  overflow: hidden;
}

/* .slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
} */

/* .slider ul li {
  width: 50%;
  padding: 20px;
  list-style: none;
}

.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
} */

/* .slide img {
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid #212ea0;
} */

/* .client-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.client-info h3 {
  color: #212ea0;
} */

/* Media Queries */

@media (max-width: 800px) {
  /* .reviews {
    padding: 0 40px;
  }
  .back-btn,
  .next-btn {
    padding: 10px;
    width: 35px;
  }
  .reviews ul li {
    padding: 10px;
  } */
  /* .slide {
    padding: 10px;
  }

  .slide img {
    width: 50px;
    border: 3px solid #212ea0;
  }

  .slider ul li {
    width: 100%;
  } */
}

.reviews .client-info img {
  max-width: 70px;
  border-radius: 50%;
}
.reviews .slide {
  box-shadow: 0 0 10px #00000080;
  padding: 40px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
}
.reviews .slick-slide {
  padding: 10px 16px;
}

.client-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.client-info h3 {
  color: #212ea0;
}
.client-info div {
  margin-left: 10px;
}

.reviews .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
  font-size: 0;
  z-index: 9;
}

.reviews .slick-arrow.slick-prev {
  left: -62px;
}
.reviews .slick-arrow.slick-next {
  right: -62px;
}

.reviews .slick-arrow.slick-prev:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  left: 24px;
  cursor: pointer;
}

.reviews .slick-arrow.slick-next:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(130deg);
  right: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .reviews .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #212ea0;
    font-size: 0;
    z-index: 9;
  }
  .reviews .slick-arrow.slick-prev {
    left: -38px;
  }
  .reviews .slick-arrow.slick-next {
    right: -38px;
  }

  .reviews .slick-arrow.slick-next:after,
  .reviews .slick-arrow.slick-prev:after {
    width: 10px;
    height: 10px;
  }
  .reviews .slick-arrow.slick-next:after {
    right: 12px;
  }
  .reviews .slick-arrow.slick-prev:after {
    left: 12px;
  }
}
