.reviews{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.reviews img {
    width: 20px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212ea0;
}

.nav-btn img {
    transform: translate(-50%, -50%);
}

.back-btn{
    left: 0;
    right: auto;
}

.slider{
    overflow: hidden;

}

.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}

.slider ul li{
    width: 50%;
    padding: 20px;
    list-style: none;
}

.slide{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}

.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;
}

.client-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.client-info h3{
    color: #212ea0;
}