.video-player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #00000091;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-player video {
  width: 30vw;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  border: 1px solid #fff;
  border-radius: 24px;
}

.video-player.hide {
  display: none;
}
